/*@font-face {*/
/*    font-family: 'YEONGJUPunggiGinsengTTF';*/
/*    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

body {
    font-family: 'NPSfontBold';
}

header {
    position: sticky;
    top : 0;
    z-index: 10;
}

main {
    height: auto;
    min-height: 800px;
}

.cursor-pointer {
    cursor: pointer;
}
